<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include bootstrap.ejs %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Permanent+Marker"
      rel="stylesheet"
    />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <style>
    body,
    .jumbotron {
      background: #ff4848;
      font-family: "Permanent Marker", cursive;
    }
    .jumbotron {
      text-align: center;
    }
    #card-d {
      width: 100%;
      height: 250px;
    }
  </style>
  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="alert alert-danger" role="alert">Movie Not Found..</div>
      </div>
    </div>
  </body>
</html>
