<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include bootstrap.ejs %>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Fugaz+One"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <style>
    #name {
      text-align: center;
      width: auto;
      font-size: 30px;
      border-radius: 30px;
    }
    #main {
      text-align: center;
    }
    body,
    .jumbotron {
      background: #192a56;
      color: white;
      font-family: "Fugaz One", cursive;
    }
    #search {
      width: auto;
      text-align: center;
    }
    form {
      text-align: center;
    }
    input:focus {
      outline: 0;
    }

    #year {
      text-align: center;
      width: auto;
      font-size: 20px;
      border-radius: 30px;
      display: inline-block;
    }
    form {
      display: inline-block;
      width: auto;
    }
    input {
      position: relative;
    }
    .container {
      width: auto;
      text-align: center;
    }
    #title {
      width: auto;
      text-align: center;
    }
  </style>
  <body>
    <!-- <div class="jumbotron"><h1 id="main"></h1></div> -->
    <!-- </div> -->
    <div class="container">
      <form action="/api/searchM" method="POST">
        <br /><br />
        <h1 id="title">IMDB Movie Station</h1>
        <br /><br /><br /><br /><br />
        <input
          id="name"
          type="text"
          name="search"
          placeholder="Enter Movie Name...."
          autocomplete="off"
          autofocus
        />
        <br />
        <br />
        <input
          type="text"
          name="year"
          id="year"
          placeholder="Year of Release*"
          autocomplete="off"
        />
        <br /><br />

        <input
          id="search"
          type="submit"
          value="Search"
          class="btn btn-success"
        />
        <br /><br />
        <h5>* Year is Optional..</h5>
      </form>
    </div>
  </body>
</html>
